# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":3000" below with your
# domain name.

:80 {
	# Set this path to your site's directory.
	root * /usr/share/caddy

    handle /api/bitcoin-service {
        uri strip_prefix /api/bitcoin-service
        reverse_proxy {$BITCOIN_SERVICE}
    }

    handle /api/ethereum-service {
        uri strip_prefix /api/ethereum-service
        reverse_proxy {$ETHEREUM_SERVICE}
    }

    handle /api/monero-service {
        uri strip_prefix /api/monero-service
        reverse_proxy {$MONERO_SERVICE}
    }

    handle /api/solana-service {
        uri strip_prefix /api/solana-service
        reverse_proxy {$SOLANA_SERVICE}
    }

    handle {
        file_server
    }
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile